name: Release Workflow
on: [create]

env:
  RUSTFLAGS: "-D warnings"

jobs:
  release:
    if: github.event_name == 'create' && github.event.ref_type == 'tag'
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: install packages
        run: | 
            sudo sed -Ei 's/^# deb-src /deb-src /' /etc/apt/sources.list
            sudo apt-get update
            sudo apt-get build-dep partclone
            sudo apt-get install f2fs-tools hfsprogs exfatprogs gddrescue reiser4progs
      - name: Install configure
        run: ./autogen && ./configure --enable-ntfs --enable-fat --enable-exfat --enable-hfsp --enable-apfs --enable-btrfs --enable-minix --enable-f2fs --enable-reiser4 --enable-xfs CFLAGS="-static" --prefix=$PWD/out
      - name: Build
        run: make LDFLAGS="--static" && make install
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "out/sbin/*"
          tag: ${{ github.ref }}
          name: ${{ github.ref }}
          draft: true